{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "indent": [ "error", 2 ],
    "quotes": [ "error", "single"],
    "semi": [ "error", "never" ]
  },
  "parser": "babel-eslint"
}
