.com__title {
  position: relative;
  margin-bottom: 1.06667rem;
  padding-left: 1.06667rem;
  color: #6a6a77;
  font-weight: bold;
  line-height: 1.5;
}

.com__title::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0.512rem;
  top: 50%;
  margin-top: -0.42667rem;
  width: 2PX;
  height: 0.85333rem;
  background-color: #6190e8;
  box-shadow: 0 0.14933rem 0.256rem 0 rgba(97, 144, 232, 0.2);
  border-radius: 1PX;
}